/* Importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333333; /* Gris foncé pour le texte */
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
    padding: 20px 0;  /* Augmenter le padding pour laisser plus d'espace */
    text-align: center;
    height: 220px;  /* Ajuster pour tenir compte de la hauteur du logo */
}

header h1 {
    color: #B22222; /* Rouge moins vif, pris de la charte graphique */
    margin: 0;
    font-size: 24px;
}

header h2 {
    color: #B22222;
    margin: 5px 0;
    font-size: 16px;
}

/* Logo de l'en-tête */
.logo {
    margin: 10px 0;
}

/* Barre de navigation */
nav {
    text-align: center;
    position: fixed;
    top: 220px;  /* Placer la barre sous l'en-tête */
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 999; /* Assurer que la barre reste au-dessus du contenu */
}

/* Liens de la navigation */
nav a {
    color: #B22222;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    padding: 10px 0;
}

/* Effet hover et section active */
nav a:hover, nav a.active {
    font-weight: bold;
    background-color: #f1f1f1;
}

/* Ajustement du padding du contenu pour éviter le chevauchement */
main {
    padding-top: 280px;  /* Ajuster le padding pour éviter que le contenu soit caché par l'en-tête et la navigation */
}

/* Sections */
.section {
    max-width: 800px; /* Limite la largeur du contenu pour centrer le texte */
    margin: 0 auto; /* Centrer le contenu */
    padding: 20px; /* Ajout d'espace interne pour aérer le texte */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute un léger ombrage pour rendre les sections visuellement séparées */
    background-color: white;
}

/* Galerie : Centrer et espacer les images */
.gallery img {
    display: block;
    margin: 20px auto; /* Centre les images dans la galerie */
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optionnel : arrondit les coins des images */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : ajoute un léger ombrage aux images */
}

/* La section active est visible */
.section.active {
    display: block;
}

h2 {
    color: #B22222; /* Rouge pour les titres */
}

p {
    color: #333333; /* Texte de paragraphe en gris foncé */
}

strong {
    color: #B22222; /* Rouge pour les caractères gras */
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #B22222;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #B22222;
    color: white;
}
