/* En-tête */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray;
    padding: 20px 0;
    text-align: center;
    height: 310px;  /* Augmenter la hauteur pour éviter que la navigation chevauche le logo */
}

/* Barre de navigation */
nav {
    text-align: center;
    position: fixed;
    top: 310px;  /* Positionner la barre sous l'en-tête après l'ajustement */
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 999; /* Assurer que la barre reste au-dessus du contenu */
}

/* Liens de la navigation */
nav a {
    color: #B22222;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    padding: 10px 0;
}

/* Effet hover et section active */
nav a:hover, nav a.active {
    font-weight: bold;
    background-color: #f1f1f1;
}

/* Ajustement du padding du contenu pour éviter le chevauchement */
main {
    padding-top: 300px;  /* Ajuster le padding pour éviter que le contenu soit caché par l'en-tête et la navigation */
}

/* Sections */
.section {
    max-width: 800px; /* Limite la largeur du contenu pour centrer le texte */
    margin: 0 auto; /* Centrer le contenu */
    padding: 60px; /* Ajout d'espace interne pour aérer le texte */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ombrage léger pour mieux séparer les sections */
    background-color: white;
    display: none; /* Toutes les sections sont cachées par défaut */
}

/* La section active est visible */
.section.active {
    display: block;
}

/* Galerie : Centrer et espacer les images */
.gallery img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optionnel : arrondir les coins */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : ajouter un léger ombrage aux images */
}

/* Formulaire */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ombrage pour le formulaire */
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #B22222;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #a51e1e; /* Couleur légèrement plus foncée au survol */
}

/* Footer */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Optionnel : ombrage au-dessus du footer */
}
